body, html
{
  background-color: #EDEDED !important;
}

.welcome
{
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 1px;
}

.welcome h1
{
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.welcome h5
{
  text-transform: uppercase;
  padding: 10px;
  color: #333333;
  display: inline-block;
  font-size: 1.2em;
}

.card a {
  margin-right: 0px;
}

.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.icon-link {
  padding-right: 6px;
}

.label-row {
  margin-top: 80px;
}

.final-row {
  margin-bottom: 70px;
}

#welcome-fade {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

footer.page-footer {
  margin-top: 0px;
  padding: 0px;
}

.skills-heading {
   padding: 2px 0px 2px 10px;
}

.skills-heading h5 {
  font-size: 18px;
}

.skills-container p {
  padding: 0px 10px 0px 10px;
}

.special {
  padding-bottom: 15px !important;
}

.text-center {
  text-align: center;
}