<div class="row">
  <div class="col s12 m12 l12">
    <div class="footer-container center teal darken-4 white-text valign-wrapper">
      <div class="valign light">
        &copy; 2017 Greg Fick, All rights reserved.
      </div>
    </div>
  </div>
</div>

</div>

<!-- jQuery JS -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Materialize JS -->
<script src="js/materialize.min.js"></script>
<!-- Application JS -->
<script src="js/application.js"></script>
<!-- Font Awesome Icons -->
<script src="https://use.fontawesome.com/a789f1471a.js"></script>