  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text shadow">Greg Fick</h5>
          <p class="grey-text text-lighten-4">Thanks for coming!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3 shadow" href="/">Home</a></li>
            <!-- <li><a class="grey-text text-lighten-3" href="/plu-mapper">PLU Mapper (in progress)</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Greg Fick, All rights reserved.
      </div>
    </div>
  </footer>

</div>

<!-- jQuery JS -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Materialize JS -->
<script src="js/materialize.min.js"></script>
<!-- Application JS -->
<script src="js/application.js"></script>
<!-- Font Awesome Icons -->
<script src="https://use.fontawesome.com/a789f1471a.js"></script>