<!DOCTYPE html>
<html lang="en-us" class="html-index">
  <head>
    <% include head.ejs %>
  </head>

  <body>

    <div class="container grey lighten-3 z-depth-2">

      <% include navbar.ejs %>

      <div class="row">
        <div class="col s12 m12 l12">
          <div class="hero-container white-text valign-wrapper">
            <div class="valign center uppercase">
              <h3>Greg Fick</h3>
              <h5 class="light">Web Developer</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12 l12">
          <div class="about-container black-text center">
            <p class="emphasis">Hello there!</p>
            <br>
            <p class="light">I'm a front-end web developer focused on delivering well-designed, user-friendly web applications. Currently located in Baltimore, Maryland.</p>
            <br>
            <p class="light">Download my <a class="lowercase teal-text darken-4" href="documents/GregoryFickResumeWeb.pdf">resume</a>.<p>
            <br>
            <a class="btn teal accent-4 black-text waves-effect waves-light z-depth-1" href="https://linkedin.com/in/gregoryfick"><i class="fa fa-linkedin fa-2x"></i></a>
            <a class="btn teal accent-4 black-text waves-effect waves-light z-depth-1" href="https://github.com/gfick"><i class="fa fa-github fa-2x"></i></a>
          </div>
        </div>
      </div>

      <div class="row skills-row">
        <div class="col s12 m12 l4">
          <div class="skills-container">
            <div class="center">
              <i class="red-text small fa fa-television"></i>
              <p class="emphasis">Frontend Skills</p>
              <p class="light">HTML, CSS, SCSS, JavaScript, CoffeeScript, jQuery, REST, AJAX, JSON, XML</p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="skills-container">
            <div class="center">
                <i class="green-text small fa fa-code"></i>
                <p class="emphasis">Backend Skills</p>
                <p class="light">PHP, Laravel 4, CodeIgniter, Ruby, Ruby on Rails, Node.js, Express, Gulp, SQL, Cucumber</p>
              </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="skills-container">
            <div class="center">
                <i class="blue-text small fa fa-puzzle-piece"></i>
                <p class="emphasis">Other Skills</p>
                <p class="light">Git, Perforce, JIRA, Confluence, Bootstrap 3, Materialize, Adobe Photoshop, Balsamiq Mockups, Responsive Design, User Experience Design, Agile Software Development, Waterfall Methodology, Kanban, Scrum</p>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12 l12 valign-wrapper">
          <div class="section-header center valign">
            <p class="emphasis uppercase">Latest Works</p>
          </div>
        </div>
      </div>

      <div class="row latest-works-row">
        <div class="col s12 m12 l12">
            <div class="card">
              <div class="card-image">
                <a href="https://elderscrollsonline.com">
                  <img src="images/eso2.jpg">
                </a>
              </div>
              <div class="card-content">
                <p>PHP, HTML, CSS, SCSS, JavaScript, SQL</p>
              </div>
              <div class="card-action">
                <a class="teal-text darken-4" href="https://elderscrollsonline.com">Community Site - The Elder Scrolls Online</a>
              </div>
            </div>
          </a>
        </div>
        <div class="col s12 m12 l6">
          <div class="card">
            <div class="card-image">
              <a href="https://forums.elderscrollsonline.com">
                <img src="images/esoforums2.jpg">
              </a>
            </div>
            <div class="card-content">
              <p>HTML, CSS, JavaScript</p>
            </div>
            <div class="card-action">
              <a class="teal-text darken-4" href="https://forums.elderscrollsonline.com">Official Forums - The Elder Scrolls Online</a>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l6">
          <div class="card">
            <div class="card-image">
              <a href="https://theelderscrollsonline.tumblr.com">
                <img src="images/esotumblr.jpeg">
              </a>
            </div>
            <div class="card-content">
              <p>HTML, CSS</p>
            </div>
            <div class="card-action">
              <a class="teal-text darken-4" href="https://theelderscrollsonline.tumblr.com">Official Tumblr - The Elder Scrolls Online</a>
            </div>
          </div>
        </div>
      </div>

      <% include footer.ejs %>

  </body>
</html>