<nav>
  <div class="nav-wrapper">
    <ul>
      <li><a class="shadow" href="/">Home</a></li>
      <li><a class="shadow" href="/plu-mapper">PLU Mapper (in progress)</a></li>
    </ul>
  </div>
</nav>