<nav>
  <div class="nav-wrapper">
    <a href="/" class="logo"><i class="fa fa-tree"></i>&nbsp;Home</a>
    <ul class="right">
      <li><a href="/plu-mapper">PLU Mapper (Project)</a></li>
    </ul>
  </div>
</nav>