<!DOCTYPE html>
<html lang="en-us">
  <head>
    <% include head.ejs %>
  </head>

  <body>

    <div class="container grey lighten-4 z-depth-1">

      <% include navbar.ejs %>

      <div class="row">
        <div class="col s12 m12 l12">
          <div></div>
        </div>
      </div>

      <% include footer.ejs %>
      <script src="js/plu-mapper.js"></script>
  </body>
</html>